<div class="centered-content">
  <button routerLink="/" class="circle-back-button button is-primary"> <i class="fas fa-arrow-left"></i> &nbsp; back</button>
 
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 *ngFor="let numOfConnected of NumOfConnected" class="title has-text-primary">
        <i class="fas fa-user"></i> Users <span class="item has-text-danger"> now connected:<b>{{numOfConnected.connected}}</b></span>
      </h1>
      <table class="table is-fullwidth" style="max-height:400px ;overflow-y: auto;">
        <tr><th>Email</th><th>User name</th><th>Number of login </th><th></th></tr>
        <tr *ngFor="let user of users" >
          <td>{{user.email}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.__v}}</td>
          <td >
           <a (click)="onDeleteUserClick(user._id)"> <i class="fas fa-trash" ></i></a>
           &nbsp; 
            <a [routerLink]="['/edit-user', user._id]">
              <i class="fas fa-edit"></i> 
            </a>
           
          </td>
        </tr>
      </table>


      <table  >
        <tr>
          <td>
        <h2>Post a message to users: </h2>
          <div class="field">
            <div class="control">
              <textarea #textInput class="textarea is-primary" placeholder="Send message"></textarea>
              <button class="button is-success " (click)="sendMessage(textInput.value)" style="float: right;">Send</button>
            </div>
          </div> 
         
        </td>
</tr>
        </table>
      </div>
     

    </div>
    
      
    </div>

