<div class="centered-content">
  <form [formGroup]="registerForm" >
  <div class="white-box">

    <h1 class="title has-text-primary">Sign up</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #nameInput formControlName="nameInput" class="input has-background-light" type="UserName" placeholder="Name">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #emailInput formControlName="emailInput" class="input has-background-light" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #pwInput formControlName="pwInput" class="input has-background-light" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        
        <select #cityInput formControlName="cityInput" class="input has-background-light">  
            
          <option label="choose city">Other</option>  
          <option *ngFor="let item of citiesLocation | keyvalue" [value]="item.key">{{item.key}}</option>  

      </select> 
        <span class="icon is-small is-left">
          <i class="fas fa-home"></i>
         
           
        </span>
      </p>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end;">
      <p class="control">
        <button class="button is-success has-text-white" (click)="onSignupButtonClicked(nameInput.value, emailInput.value, pwInput.value, cityInput.value)">
          Sign up
        </button>
      </p>
    </div>
    <br>

    <p class="has-text-grey">Already got an account? <a routerLink="/login">Login</a> now!</p>

    <div class="err" *ngIf="submitted && f.emailInput.errors">
      <p *ngIf="f.emailInput.errors.required">Email is required</p>
      <p *ngIf="f.emailInput.errors.email">Email must be a valid email address</p>
     

    </div>
    <div class="err" *ngIf="submitted && f.pwInput.errors">
     
      <p *ngIf="f.pwInput.errors.required">Password is required</p>
      <p *ngIf="f.pwInput.errors.minlength">Password must be at least 8 characters</p>

    </div>

    <div class="err" *ngIf="submitted && f.cityInput.errors">
     
      <p *ngIf="f.cityInput.errors.required">City is required</p>
    </div>
    <div class="err" *ngIf="submitted && f.nameInput.errors">
     
      <p *ngIf="f.nameInput.errors.required">UserName is required</p>
      <p *ngIf="f.nameInput.errors.minlength">UserName must be at least 3 characters</p>

    </div>
  </div>
  </form>
</div>