
<app-messages *ngIf=!getIsAdmin()></app-messages>
<div class="centered-content">
  <div class="currencies">

  </div>
  <div class="task-manager-container">
 
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>
      <div class="filters-row-container">
        Filters:
        <input class="input" #freeText placeholder="Type free text..." type="text" />
        <input placeholse="sss" #taskTimeInput class="input has-background-light is-medium" type="date" min="2018-01-01" max="2022-12-31" >
        <select #listCategoryInput class="input has-background-light" >  
            <option label="" value="">All Categories</option>  
            <option label="Shopping">Shopping List</option>  
            <option label="Home ">Home List</option>  
            <option label="Work">Work List</option>  
            <option label="Appointments">Appointments List</option> 
            <option label="Other">Other List</option>  
        </select> 
        <button style="width: 100%" class="button is-primary" (click)="onListsFilter(freeText.value, taskTimeInput.value, listCategoryInput.value)">Search</button>
      </div>
      <div class="list-menu">
        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
          <p>{{ list.title }}</p>
        </a>
      </div>

      <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>

    </div>

    <div class="task-list-container has-background-light">
      <div *ngIf="tasks">
        <div class="top-bar">
          <h1 class="title has-text-primary">
            {{ getUser()}} Tasks
          </h1>
          <div class="dropdown is-hoverable is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                  Edit
                </a>
                <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="filters-row-container">
          Filters:
          <div class="filters-row">
            <input class="input" #freeText placeholder="Type free text..." type="text" />
            <input placeholse="sss" #taskTimeInput class="input has-background-light is-medium" type="date" min="2018-01-01" max="2022-12-31" >
            <label>Only pending<input type="checkbox" #onlyPending /></label>
            <button class="button is-primary" (click)="onTasksFilter(freeText.value, taskTimeInput.value, onlyPending.checked)">Search</button>
          </div>
        </div>

        <!-- Task Elements -->
        <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
          <div class="task-text">
            <a>Task name:</a>
            <p>{{ task.title }}</p>
            <a>Task date:</a>
            <p>{{ task.time}}</p>
          </div>
          <div class="task-buttons">

            <button class="button" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>

            <button class="button is-danger" (click)="onDeleteTaskClick(task._id)" style="margin-left: 10px;">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>

          </div>
        </div>

        <h3 class="empty-state-text" *ngIf="tasks.length === 0">There are no tasks here! Click the add button to create
          a new task.</h3>

        <button routerLink="./new-task" class="circle-add-button button is-primary">
          <img src="../../../assets/plus-icon.svg" class="has-text-white">
        </button>
      </div>

      <div *ngIf="!tasks">
        <h3 class="empty-state-text">Please select a list from the sidebar</h3>
      </div>

    </div>

    <button class="logout-button button is-primary is-hovered"(click)="logout()">
      Logout
   </button>

    <app-manage></app-manage>

    <button class="currency-button button is-primary is-hovered" routerLink="/currencies">Currencies</button>
  
    
  
  </div>
  
</div>
<div style="text-align: center;">
  <app-bar-chart title="Tasks Summary:" [data]="tasksSummary"></app-bar-chart>
</div>
<div class="centered-content" style="height: 520px;">
  <div class="task-manager-container">
    <div class="task-list-container has-background-light">
      <h1>Users Location</h1>
      <google-map
        height="400px"
        width="916px"
        [center]="center"
        [zoom]="zoom"
      >
        <map-marker #marker
          *ngFor="let brunchLocation of brunchesLocations"
          [position]="brunchLocation"
        ></map-marker>
      </google-map>
    </div>
  </div>
</div>
