<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      change city
    </h1>

    <p class="control has-icons-left">
      
      <select #cityInput class="input has-background-light">  
          
        <option label="choose city">Other</option>  
        <option label="Jerusalem">Jerusalem</option>  
        <option label="Tel-aviv">Tel-aviv</option>  
        <option label="Bnei-Brak">Bnei-Brak</option> 
        <option label="Hifa">Hifa</option>  
  >  
    </select> 
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/admin">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="updateUser(cityInput.value)" routerLink="/admin">Save</button>
    </div>

    
  </div>
</div>
