<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      change userName
    </h1>
    <input #userName class="input has-background-light is-medium" type="text" placeholder="Enter new userName..."> 
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/admin">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="updateUser(userName.value)" routerLink="/admin">Save</button>
    </div>

    </div>

</div>